---

import Button from "./Button.astro";
const name = "Continue";

---


<section class="send-form">
    <figure>
        <img src="../images/icon-complete.svg" alt="">
    </figure>
    <div class="text">
        <h1>Thank you!</h1>
        <p>We've added your card details</p>
    </div>
    <Button text={name} />
</section>

<style>
    .send-form {
        text-align: center;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        width: 320px;
    }

    figure {
        width: 5rem;
    }

    h1 {
        text-transform: uppercase;
        letter-spacing: 3px;
        padding-bottom: 1rem;
    }

    p {
        color: var(--dark-gray);
    }
</style>



