---
---

<section>
  <p class="code-number">000</p>
</section>

<style>

  section {
    height: 150px;
    width: 274px;
    background-image: url('../images/bg-card-back.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1rem;
    color: var(--very-light-gray);
    position: relative;
    letter-spacing: 2px;
  }

  .code-number {
    font-size: 10px;
    position: absolute;
    right: 2rem;
    top: 4.1rem;
  }
